# these might cause you problems...
*.html

# quartus database
/db/
/incremental_db/

# temporary files
*~

# reports, suppressed messages, and summaries
*.rpt
*.smsg
*.summary
*.cmp
.qsys_edit/

# built stuff
/example.jdi
/example.sof
/example_time_limited.sof
/example.pof
/example.pin
/example.done
/example.qws
/example.rbf
/example.sld
/example_assignment_defaults.qdf
/hps_system
/hps_isw_handoff
/hps_sdram_p0_all_pins.txt
/hps_sdram_p0_summary.csv
/c5_pin_model_dump.txt
*.sopcinfo
